video {
	display: block;
	width: 432px;
	height: 240px;
}

.ui-media-player {
	position: relative;
	width: 432px;
}
/*
 * escaped for development mode

.media-controls {
	display: none;
}
.js-on .media-controls {
	display: block;
}

 */
.media-controls {
	height: 2em;
	zoom: 1;
	position: relative;
	margin: 5px 0 0;
	padding: 0 210px 0 85px;
	z-index: 9; /* IE opacity: bug */
}
.media-controls a.ui-state-default {
	position: absolute;
	top: .32em;
	padding: 2px;
	overflow: hidden;
}
.media-controls a:focus {
	outline: 1px dotted #666;
}
a.ui-state-default .button-text {
	position: absolute;
	display: block;
	left: -9999px;
	width: 3px;
}
.media-controls a.play-pause {
	left: 5px;
}
.timeline-slider {
	top: .5em;
}
.media-controls a.ui-slider-handle {
	padding: 0;
	top: -0.26em;
}
.media-controls a.mute-unmute {
	right: 125px;
}
.player-display {
	overflow: hidden;
	position: absolute;
	top: 9px;
	width: 35px;
	font-size: 12px;
	text-align: center;
}
.duration {
	right: 155px;
}
.current-time {
	left: 35px;
}
div.volume-slider {
	position: absolute;
	top: .5em;
	right: 16px;
	width: 90px;
}
.media-controls .ui-progressbar {
	height: 0.8em;
}

.handle-label,
.media-label,
.js-on .player-errors {
	display: none;
}
.media-state {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: url(../media/loader.gif) -9000px -9000px no-repeat;
}
.idle .media-state {
	display: block;
	background: url(../media/play-icon.png) center no-repeat;
}
.waiting .media-state {
	display: block;
	background: url(../media/loader.gif) center no-repeat;
}

/* on totoal error/showFallback: true */
.totalerror .media-controls {
	display: none !important;
}
.fallback {
	position: relative;
	zoom: 1;
}
.fallback-text {
	position: absolute;
	padding: 10px;
	bottom: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
}
.fallback-text p {
	margin: 0 0 10px;
}
.fallback-text li {
	list-style: none;
}
.fallback-text a {
	color: #fff;
}

/*
 * fullscreen plugin
 */

.wraps-fullscreen .media-state {
	z-index: 99999;
}
.wraps-fullscreen .media-controls-wrapper {
	z-index: 999999;
}

/*
 * playlist example (audioplayer.html)
 */
.playlist {
	margin: 5px 0 0;
	padding: 5px;
}
.playlist ul {
	list-style: none;
}
.playlist .src {
	display: none;
}
.playlist li {
	margin: 2px 0;
	padding: 2px 5px;
	cursor: pointer;
}
.playlist a:focus,
.playlist a:active {
	text-decoration: underline !important;
}