video {
	display: block;
	width: 432px;
	height: 240px;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.ui-media-player {
	width: 432px;
}
.ui-media-player.waiting:not(.jwPlayer) {
	background: url(media/loader.gif) center no-repeat;
}
.ui-media-player.waiting:not(.jwPlayer) video {
	opacity: 0.5;
}
.media-controls {
	display: none;
	height: 2em;
	zoom: 1;
	position: relative;
	margin: 5px 0 0;
	padding: 0 165px 0 45px;
}
.js-ready .media-controls {
	display: block;
}
.media-controls button.ui-state-default {
	position: absolute;
	top: .4em;
	overflow: visible;
}
button.ui-state-default .button-text {
	position: absolute;
	display: block;
	left: -9999px;
	width: 3px;
}
.media-controls button.play-pause {
	left: 5px;
}
.timeline-slider {
	top: .5em;
}
.media-controls button.mute-unmute {
	right: 125px;
}
div.volume-slider {
	position: absolute;
	top: .5em;
	right: 16px;
	width: 90px;
}
.media-controls .ui-progressbar {
	height: 0.8em;
}

.js-on .player-errors {
	display: none;
}
/*
 * playlist
 */
.playlist {
	margin: 5px 0 0;
	padding: 5px;
}
.playlist ul {
	list-style: none;
}
.playlist .src {
	display: none;
}
.playlist li {
	margin: 2px 0;
	padding: 2px 5px;
	cursor: pointer;
}
.playlist a:focus,
.playlist a:active {
	text-decoration: underline !important;
}