
video {
	display: block;
	width: 510px;
	height: 280px;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.ui-media-player {
	position: relative;
	overflow: hidden;
	width: 510px;
	background: url(media/loader.gif) -9000px -9000px no-repeat;
}
.ui-media-player.waiting {
	background: url(media/loader.gif) center no-repeat;
}
.ui-media-player.waiting video,
.ui-media-player.waiting .mm-video-box {
	opacity: 0.5;
}
.media-controls-wrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.media-controls {
	display: none;
	zoom: 1;
	overflow: hidden;
	margin: 0;
	padding: 5px 0;
	/* ie opacity bug */
	position: relative;
	z-index: 999;
}
.js-ready .media-controls {
	display: block;
}
.media-controls a.ui-state-default {
	padding: 2px;
}
.media-controls a:focus {
	outline: 1px dotted #666;
}
a.ui-state-default .button-text {
	position: absolute;
	display: block;
	left: -9999px;
	width: 3px;
}
a.fullscreen-unsupported {
	display: none;
}
.media-controls .ui-slider,
.media-controls a.ui-state-default,
.media-controls .player-display {
	float: left;
	margin: 0 2px;
	zoom: 1;
}
.media-controls .player-display {
	padding: 1px 3px 0;
	font-size: 70%;
}
.media-controls .ui-slider {
	margin: 3px 15px 0;
}
.media-controls a.mute-unmute {
	right: 155px;
}
div.volume-slider {
	width: 60px;
}
.toggle-subtitle {
	right: 125px;
}
.toggle-zoom {
	right: 95px;
}
.caption {
	height: 3em;
}
.caption-box {
	padding: 3px;
	text-align: center;
}
.media-controls .ui-progressbar {
	height: 0.8em;
	opacity: 0.3;
}
