.zoom-active-player .ui-media-player {
	width: 900px;
}
.zoom-active-player video,
.zoom-active-player .screen-box {
	width: 900px !important;
	height: 490px !important;
}
video {
	display: block;
	width: 510px;
	height: 280px;
}

.ui-media-player {
	width: 510px;
}
.media-controls {
	display: none;
	zoom: 1;
	overflow: hidden;
	margin: 5px 0 0;
	padding: 5px 0;
}
.js-on .media-controls {
	display: block;
}
.media-controls button.ui-state-default {
	overflow: visible;
}
button.ui-state-default .button-text {
	position: absolute;
	display: block;
	left: -9999px;
	width: 3px;
}
.media-controls .ui-slider,
.media-controls button.ui-state-default,
.media-controls .player-display {
	float: left;
	margin: 0 2px;
}
.media-controls .player-display {
	padding: 1px 3px;
	font-size: 72%;
}
.media-controls .ui-slider {
	margin: 2px 15px 0;
}
.media-controls button.mute-unmute {
	right: 155px;
}
div.volume-slider {
	width: 60px;
}
.toggle-subtitle {
	right: 125px;
}
.toggle-zoom {
	right: 95px;
}
.caption {
	height: 3em;
}
.caption-box {
	padding: 3px;
	text-align: center;
}
.media-controls .ui-progressbar {
	height: 0.8em;
}
